.article-header{
    background-color: rgb(99, 4, 51);
    color: white;
    border: 3px solid  transparent;
    text-align: center;
}

.section-content{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    overflow-y: auto;
    
}

.add-categorie-btn{
    float: right;
    margin-bottom: 10px;
}

